@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.headerContainer {
  width: 100vw;
}

header {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 20px black;
  position: sticky;
  z-index: 1000;
  top: 0;
  color: black;
}
header .titleContainer {
  display: flex;
  color: black;
  text-decoration: none;
}
header .titleContainer img {
  max-width: 80px;
  margin-right: 10px;
  object-fit: contain;
}
header nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
header nav a {
  text-decoration: none;
  text-transform: lowercase;
  color: inherit;
  margin: 10px;
  padding: 4px;
  border-bottom: solid rgba(0, 0, 0, 0) 4px;
}

@media (min-width: 720px) {
  header {
    padding: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
  }
  header nav a {
    padding: 10px;
    font-size: 1.25em;
    transition: transform 250ms ease-in-out, border-bottom-color 250ms ease-in-out, color 250ms ease-in-out;
  }
  header nav a:hover {
    transform: scale(1.125);
    border-bottom-color: #fdb44c;
    color: #fdb44c;
    cursor: pointer;
  }
  header .titleContainer:hover {
    cursor: pointer;
  }
}
footer {
  width: 100%;
  height: 10vh;
  margin-top: 40px;
  background: #fdb44c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer a {
  color: white;
  text-decoration: none;
}

body {
  font-family: "Roboto Slab", serif;
  background: white;
}

.index .splash {
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.index .splash .background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.index .splash .filter {
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  height: 100%;
  position: absolute;
}
.index .splash p {
  font-style: italic;
  font-size: 1.5em;
  max-width: 90vw;
  text-align: center;
  padding: 10px;
  margin-top: 80px;
  z-index: 2;
  color: white;
}
.index .splash .action {
  display: block;
  background: #fdb44c;
  padding: 14px 28px;
  border-radius: 10px;
  position: sticky;
  font-weight: bold;
  font-size: 1.25em;
  box-shadow: 0 10px 20px black;
  text-decoration: none;
  color: black;
  margin-top: 60px;
}
.index .sections {
  background: white;
  width: 100%;
  padding-top: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index section {
  width: 80%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;
}
.index section h2 {
  background: #fdb44c;
  padding: 4px;
  color: white;
  font-size: 2em;
  text-transform: uppercase;
  width: unset;
  margin-bottom: 10px;
}
.index section h3 {
  text-transform: uppercase;
  margin-top: 20px;
}
.index section p {
  margin: 8px 0;
}
.index .contactItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
  text-decoration: none;
  margin-bottom: 8px;
}
.index .contactItem p {
  margin-left: 8px;
}
.index .contactItem .icon {
  color: #fdb44c;
  width: 24px;
  height: 24px;
}
.index #media .images {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index #media .images img {
  width: 100%;
  margin: 10px 0;
}

@media (min-width: 720px) {
  .index section {
    max-width: 60vw;
  }
  .index .splash {
    justify-content: center;
  }
  .index .splash p {
    margin-top: -40px;
    max-width: 40vw;
    font-size: 2.5em;
  }
  .index .splash .action {
    margin-top: 60px;
    top: 50vh;
    transition: transform 250ms ease-in-out;
  }
  .index .splash .action:hover {
    transform: scale(1.25);
  }
  .index .action {
    transition: transform 250ms ease-in-out;
  }
  .index .action:hover {
    transform: scale(1.125);
    cursor: pointer;
  }
  .index .flip {
    flex-direction: row-reverse;
    background: #EEE;
    text-align: right;
  }
  .index .flip .text {
    align-items: flex-end;
  }
  .index #media .images {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -10px;
  }
  .index #media .images img {
    width: 40%;
    margin: 10px;
  }
}

/*# sourceMappingURL=index.css.map */
