@import "./global";

.index {

	.splash {

		background-image: url("../img/background.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 88vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;

		p {
			font-style: italic;
			font-size: 2em;
			max-width: 90vw;
			text-align: center;
			background: rgba(255, 255, 255, 0.8);
			padding: 10px;
			border-radius: 10px;
			box-shadow: 0 10px 20px black;
			margin-top: 20px;
		}

		.action {
			display: block;
			background: $yellowOrange;
			padding: 14px 28px;
			border-radius: 10px;
			position: absolute;
			top: 85vh;
			font-weight: bold;
			font-size: 1.25em;
			box-shadow: 0 10px 20px black;
			text-decoration: none;
			color: black;
		}

	}

}

@media(min-width: 720px) {

	.index {

		.splash {

			justify-content: center;

			p {
				margin-top: unset;
				max-width: 40vw;
			}

			.action {
				top: 90vh;
				transition: transform 250ms ease-in-out;
			}

			.action:hover {
				transform: scale(1.25);
				cursor: pointer;
			}

		}

	}

}