.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--padding);
  background: var(--primary);
  color: var(--background);
  font-size: 0.95em;
}

.container a {
  color: inherit;
  border: none;
  padding-left: 0.5ch;
}

.container a:hover {
  transform: none;
}
