.container {
  width: 100%;
  max-width: var(--bp);
  align-self: center;
  padding: 0 var(--padding) var(--padding-xl) var(--padding);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--padding-s);
  z-index: 1;
}

.background {
  width: 100%;
  z-index: -1;
  height: 50vh;
  object-fit: cover;
}

.shell {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
  align-items: flex-start;
  padding-top: 69px;
}
